$thumbnail-bar-height: 160px;

.image-view {
  height: 100%;

  .image-selected-container {
    max-height: calc(100% - #{$thumbnail-bar-height});
  }
}

.thumbnail-bar {
  box-shadow: 0px -2px 6px 0px var(--bs-gray-dark);
  min-width: #{$thumbnail-bar-height};
  background-color: var(--bs-gray-light);
  padding-top: .3rem;
  padding-bottom: .3rem;
  overflow-x: auto;

  .thumbnail-scroller {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .thumbnail {
    height: 150px;
    width: 250px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

