<header class="py-3 bg-white">
  <nav class="container d-flex flex-md-row justify-content-end align-items-center">
    <h1 class="my-2 fs-2">
      Image Gallery
    </h1>
    <ul class="nav nav-pills ms-md-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/images" routerLinkActive="active">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tags" routerLinkActive="active">Tags</a>
      </li>
    </ul>
  </nav>
</header>
